<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alex Wzorek Photography</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="pt-5 navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container justify-content-start">
                <div class="text-center">
                    <h1 class="h2 pl-2 font-weight-bold" asp-area="" asp-page="/Index">Alex Wzorek</h1>
                </div>
            </div>
            <div class="container justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="class-container collapse d-inline-flex flex-sm-row-reverse">
                    <ul class="my-navbar-nav justify-content-end">
                        <li class="p-2 my-nav-item">
                            <a class="my-nav-link hover-link" asp-area="" asp-page="/Index">Photos</a>
                        </li>
                        <li class="p-2 nav-item">
                            <a class="my-nav-link hover-link" asp-area="" asp-page="/FilmPhotos">Contact</a>
                        </li>
                        <li class="p-2 nav-item">
                            <a class="my-nav-link hover-link" asp-area="" asp-page="/About">About Me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">@*  *@
            @RenderBody()
        <div class="spacer-3"></div>
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <!--&copy; @DateTime.Now.Year - Alex Wzorek Photography-->
            <div class="row pb-5 justify-content-center">
                <img class="px-3" style="width: auto; height:32px;" src="https://img.icons8.com/windows/32/000000/instagram-new.png" />
                <img class="px-3" style="width: auto; height:30px;" src="https://img.icons8.com/ios-glyphs/30/000000/github.png" />
                <img class="px-3" src="https://img.icons8.com/windows/32/000000/gmail.png" />
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
