@page
@model FirstRazerPagesUI.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

    <div class="px-5">
        <img src="~/Media/img032.jpg" class="pt-5 img-fluid" />
        <div class="spacer"></div>
        <div class="row">
            <div class="col">
                <p class="pb-3">Programming Knowledge</p>
                <ul class="list-group remove-border">
                    <li class="font-weight-bold h3 my-list-group-item">ASP.Net Core WPF Applications</li>
                    <li class="font-weight-bold h3 my-list-group-item">C# Console Applications</li>
                    <li class="font-weight-bold h3 my-list-group-item">ASP.Net Core Razor Pages</li>
                    <li class="font-weight-bold h3 my-list-group-item">Azure CosmosDB</li>
                    <li class="font-weight-bold h3 my-list-group-item">Website and Application Design</li>
                    <li class="font-weight-bold h3 my-list-group-item">Bootstrap</li>
                </ul>
                <div class="spacer"></div>
                <p class="pb-3">Other Skills</p>
                <ul class="list-group remove-border">
                    <li class="font-weight-bold h3 my-list-group-item">Building Racing Drones + Programming</li>
                    <li class="font-weight-bold h3 my-list-group-item">Extensive Knowledge of Photoshop</li>
                    <li class="font-weight-bold h3 my-list-group-item">Photography and Videography</li>
                    <li class="font-weight-bold h3 my-list-group-item">Building Computers</li>
                    <li class="font-weight-bold h3 my-list-group-item">Writer On Medium</li>
                </ul>
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt elementum ornare. Donec egestas cursus sodales. In vitae ante in enim viverra gravida. Sed nec egestas mi, aliquam malesuada orci. Ut fringilla ex sit amet urna porta, sed volutpat turpis rutrum. Sed pharetra mauris vel purus maximus varius. Pellentesque ut bibendum libero, vitae commodo sapien. Quisque sit amet tempor purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quis commodo lacus. Mauris ullamcorper, enim eu egestas tempor, tellus eros rutrum elit, sed ultrices eros augue eu tortor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt elementum ornare. Donec egestas cursus sodales. In vitae ante in enim viverra gravida. Sed nec egestas mi, aliquam malesuada orci. Ut fringilla ex sit amet urna porta, sed volutpat turpis rutrum. Sed pharetra mauris vel purus maximus varius. Pellentesque ut bibendum libero, vitae commodo sapien. Quisque sit amet tempor purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec quis commodo lacus. Mauris ullamcorper, enim eu egestas tempor, tellus eros rutrum elit, sed ultrices eros augue eu tortor.
                </p>
                <div class="spacer-3"></div>
                <div class="row">
                    <div class="col">
                        <div class="font-weight-bold">Email</div>
                        <p>alex.wzor@gmail.com</p>
                    </div>
                    <div class="col">
                        <div class="font-weight-bold">Phone</div>
                        <p>07904991321</p>
                    </div>
                </div>
                <div class="spacer-3"></div>
                <form method="post"><button class="btn my-btn">Contact Me</button></form>
            </div>
        </div>
        <div class="spacer"></div>
    </div>

