@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Alex Wzorek</h1>
    <p>My photography page.</p>
</div>*@
    
    
    <div class="pt-5 px-4">
        <div class="row">
            <div class="col">
                <img class="img-fluid col" src="~/Media/img006.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img034.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img002.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img038.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img023.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img005.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img024.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img044.jpg" />
            </div>
            <div class="col">
                <img class="img-fluid col" src="~/Media/img035.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img004.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img040.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img027.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img049.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img003.jpg" />
            </div>
            <div class="col">
                <img class="img-fluid col" src="~/Media/img009.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img005.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img030.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img037.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img010.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img020.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img012.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img018.jpg" />
            </div>
        </div>
 
    </div>
