@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Alex Wzorek</h1>
    <p>My photography page.</p>
</div>*@
    
    
    <div class="pt-5 px-4">
        <div class="spacer"></div>
        <div class="row">
            <div class="col">
                <img class="img-fluid col" src="~/Media/img006.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>40 Degree Mountains</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img034.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Over the Thames</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img002.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Last stop: Heaven</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img038.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Two Guys at Five Guys</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img023.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Constructing London</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img005.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Bad Idea, Great Execution</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img024.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Circles of the O2</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img044.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">10/2018</h6>
                    <h1>Londons Tunnels</h1>
                    <h4 class="pt-3">Somewhere, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img009.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Bouldering</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img030.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Journey To The Skies</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img037.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">10/2018</h6>
                    <h1>London Descents</h1>
                    <h4 class="pt-3">Somewhere, London</h4>
                </div>
            </div>
            <div class="col">
                <img class="img-fluid col" src="~/Media/img035.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">10/2018</h6>
                    <h1>London's Richest</h1>
                    <h4 class="pt-3">London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img004.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Let's Head Home Boys</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img040.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">10/2018</h6>
                    <h1>Long Londay Days</h1>
                    <h4 class="pt-3">Wembley, UK</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img027.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">09/2018</h6>
                    <h1>Caliente Cabana</h1>
                    <h4 class="pt-3">O2, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img049.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">10/2018</h6>
                    <h1>Dark Corners</h1>
                    <h4 class="pt-3">Underground, London</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img003.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Scared of Heights</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img020.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">03/2019</h6>
                    <h1>Warm Whites Feeling</h1>
                    <h4 class="pt-3">Seer Green, UK</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img012.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Hot Nights</h1>
                    <h4 class="pt-3">Juan-Les-Pins, France</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img018.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Get Me Through The Greens</h1>
                    <h4 class="pt-3">Hodgemoore (Seer Gren), UK</h4>
                </div>
                <img class="img-fluid col" src="~/Media/img010.jpg" />
                <div class="text-center pt-5 pb-5">
                    <h6 class="pb-3">07/2018</h6>
                    <h1>Finding Our Way To The End</h1>
                    <h4 class="pt-3">Cannes, France</h4>
                </div>
            </div>
            <!--
            <div class="col">
                <img class="img-fluid col" src="~/Media/img009.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img005.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img030.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img037.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img010.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img020.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img012.jpg" />
                <div class="spacer"></div>
                <img class="img-fluid col" src="~/Media/img018.jpg" />
            </div>
                -->
        </div>
 
    </div>
